:root{
    --bg-color1: #25282b;
    --bg-color2: #2a2b2d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color1);
    color: #fff;
    font-family: monospace;
    padding: 0 15px;
}

.Weather-Header{
    padding: 15px 0;
    position: sticky;
    margin-bottom: 10px;
    text-align: center; 
}

#City-Input {
    background-color: var(--bg-color2);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;
}

#searchBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
}

#locationBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #ff7043;
    cursor: pointer;
}
.Now-weather
{
    float: left;
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    display: inline-block; 
    text-align: left;
}
.card{
    font-size: 24px;
    font-weight: 500;
}


.Head-hourly-forecast{
    background-color: var(--bg-color2);
    & .Hourly-Forecast{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
    }
        & .card{
            text-align: center;
    }
}

.Head-daily-forecast {
    margin-top: 10px;
    position: sticky; 
    top: 0px;           
    overflow-y: auto; 
    background-color: var(--bg-color2);
}

.Daily-forecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    text-align: center;
}

.dailyForecast .card {
    text-align: center;
}

.Sunset-sunrise {
    float: right;
    font-size: 24px;
    margin-top: 10px;
    position: sticky; 
    top: 0px;           
    width: 20%;                
    background-color: var(--bg-color2);
}

